@charset "UTF-8";
/*
    In HTML id = # em CSS
    In HTML class = . em CSS
*/
body{
    background-color: rgb(200, 255, 190);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(58, 121, 100);
}

h1#principal{
    text-align: center;
    color: white;
    background-color: rgb(0, 112, 6);
}

h2{
    color:rgb(0, 100, 25)
}